<form class="auth-wrapper" action="/login" method="POST">
    <div class="input-group">
        <span class="input-group-text">Username</span>
        <input type="text" aria-label="username" class="form-control" name="username">
    </div>
    <div class="input-group">
        <span class="input-group-text">Password</span>
        <input type="text" aria-label="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Login</button>
</form>