<h2>Register</h2>

<form class="auth-wrapper" action="/register" method="POST">
    <div class="input-group">
        <span class="input-group-text">Username</span>
        <input type="text" aria-label="username" class="form-control" name="username">
    </div>
    <div class="input-group">
        <span class="input-group-text">Password</span>
        <input type="password" aria-label="password" class="form-control" name="password">
    </div>
    <button type="submit" class="btn btn-primary btn-lg">Register</button>
</form>